annotated-types
anyio
asttokens
bleach
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fastapi
fonttools
h11
idna
imbalanced-learn
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kaggle
kagglehub
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
patsy
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-multipart
python-slugify
pytz
#pywin32
pyzmq
requests
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
statsmodels
text-unidecode
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
webencodings
